<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title> Capo Redesign </title>
  </head>
  <body>
    <div class="container-fluid">
        <div class="row align-items-center my-5">
            <div class="container mt-5 text-center">
            <img
                    class="img-fluid"
                    src="images/CCLogoBlacksm.png"
                    alt=""
                    width="300px"
                    max-height="auto"
                    />
                <ul class="nav flex-column text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link text-dark display-4" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark display-4" href="/store">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark display-4" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark display-4" href="/faq">FAQs</a>
                    </li>
                </ul>
                <br>
                <a class="mr-2 text-dark" href="https://twitter.com/CapoCrimini_"><i class="fab fa-twitter fa-2x"></i></a>
                <a class="text-dark" href="https://www.instagram.com/capocriminiclothing"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/c61bc95792.js" crossorigin="anonymous"></script>
  </body>
</html>